/* logo url- https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: None;
  font-family: arial,sans-serif;
}

:root{
  --searchboxborder: #ebecef;
  --iconcolor: #a1a7ac;
}

form img{
  width: 272px;
  height: 92px;
}

#searchbox{
  position: relative;
}
.fa-search{
  position: absolute;
  padding: 13px;
  padding-top: 33px;
  color: var(--iconcolor);
}
.fa-camera{
  position: absolute;
  right: 55px;
  top:35px;
  color: var(--iconcolor);

}
.fa-microphone{
  position: absolute;
  top: 35px;
  right: 25px;
  color: #3B82F6;

}
#search_bar{
  width: 582px;
  min-width: 358px;
  height: 44px;
  border: 1px solid var(--searchboxborder);
  border-radius: 50px ;
  outline-width: 0px;
  padding-left: 40px;
  margin-top: 20px;
}
#search_bar:hover{
  box-shadow: 1px 1px 2px 2px var(--searchboxborder);
}
.entireform{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchform{
  text-align: center;
}
#searchbuttons{
  display:flex;
  justify-content: center;
  margin-top: 30px;
}
#search_button{
  margin-right: 8px;
}
#lucky_button{
  margin-left: 8px;
}
.button{
  background: #f8f9fa;;
  border: 0px;
  padding: 8px 15px;
  outline-width: 0px;
}
.button:hover{
  border: 1.5px solid var(--searchboxborder);
  border-radius: 4px;
}
@media screen and  (max-width:625px){
  #search_bar{
    width: 92vw;
  }
}

.nav-links{
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.nav-links li{
  padding: 10px;
  margin-top: 10px;
}
.nav-links i{
  color: var(--iconcolor);

}

a{
  color: black;
}
a:hover{
  text-decoration: underline;
}

footer ul{
  list-style-type: none;
}

footer{
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  font-size: 15px;
  color: rgba(0,0,0,.54);
}

footer a{
  font-size: 15px;
  color: rgba(0,0,0,.54);
}

.nav-bar a{
  font-size: 13px;
}

.footer-links-top h5{
  padding: 20px;
}
 hr{
  border-top: 0.1px solid #ebebeb;
}

.footer-links-bottom,.footer-links-right
,.footer-links-left{
  display:flex;
}
.footer-links-bottom{
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width:1200px){
    .footer-links-bottom{
      justify-content: center;
    }
}

.footer-links-right{
  justify-content: flex-end;
}

.footer-links-left{
  justify-content: flex-start;
}

footer li{
  padding:20px;
}

.searchbody{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image-text{
  color:#4285f4;
  font-size: 16px;
  position: relative;
  right: 65px;
}

.advanced-nav img{
  width: 92px;
  height: 33px;
}
.advanced-nav{
  background-color: #f1f1f1;
  min-width: 1015px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

nav img, nav ul{
  margin: 6px;
}
.heading h3{
  margin: 25px 35px;
  font-size: 20px;
  color: #d93025;
  font-weight: lighter;
}

.advanced-form{
  margin: 30px;
}

.tab-row{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.tab-row-head{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.find-label{
  font-size: 13px;
  padding: 18px;
  width: 13vw;
  min-width: 128px;
}
th{
  text-align:left;
}

.advance-input{
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    width: 35vw;
    padding: 10px;
    outline-width: 0px;
    min-width: 320px;
}

.advance-input:focus{
  border: 1px solid #4d90fe;
}

.todo-label{
  font-size: 13px;
  padding: 18px;
  width: 20vw;
  color: #555;
  font-size: 12px;
}

@media screen and (max-width:900px){
  .todo-label{
    display: none;
  }
}

.todo-head{
  color: #777;
  font-size: 14px;
}

.find-head{
  color: #333;
  font-size: 15px;
  font-weight: lighter;
}

.advanced-submit{
  background-color: #4d90fe;
  padding: 8px;
  border: 1px solid #3079ed;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size: 12px;
  float:right;
  left:0px;
  position: relative;
  left: 27vw;
}

.advanced-submit:hover{
  background-color: #357ae8;
  border: 1px solid #2f5bb7;
}
