/* logo url- https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: None;
}

:root{
  --searchboxborder: #ebecef;
}


.fa-search{
  position: absolute;
  padding: 13px;
  color: #a1a7ac;
}
#search_bar{
  width: 582px;
  height: 44px;
  border: 1px solid var(--searchboxborder);
  border-radius: 50px ;
  outline-width: 0px;
  padding-left: 40px;
}
#search_bar:hover{
  box-shadow: 1px 1px 2px 2px var(--searchboxborder);
}

#searchform{
  text-align: center;
}
#searchbuttons{
  display:flex;
  justify-content: center;
  margin-top: 30px;
}
#search_button{
  margin-right: 8px;
}
#lucky_button{
  margin-left: 8px;
}
.button{
  background: #f8f9fa;;
  border: 0px;
  padding: 8px 15px;
}
.button:hover{
  border: 1.5px solid var(--searchboxborder);
  border-radius: 4px;
}
